<html>
	<head>
		<link rel="stylesheet" href='/static/style.css'/>
	</head>
	<body>

		<h1>Wail Mail</h1>
		<div id="ui">
			<button id="add_rule">Add Rule</button>
			<form action="{{ url_for('update_rules') }}" method="post">
				<ul id="rules">
					<li id="update_el"> <button name="updateBtn" id="update" type="submit"> Update </button>  </li>
					<li id="rule1">
						Contains <textarea name="str_field"></textarea>  ==&gt mp3 file name: <textarea id=mp3_file></textarea>
					</li>
				</ul>
			</form>
		</div>

		<div>
			<p>{{update_msg}} </p>
		</div>
	</body>
</html>

